.empower_future_container{
    padding: 80px;
    .image_section{
        width: 100%;
        height: 350px;
        position: relative;
    }
    .title{
        color: #012B7F;
        font-family: var(--font-syne);
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 40px;
    }

    @media (max-width: 1023px){
        padding: 60px 24px;
        .title{
            font-size: 32px;
        }
        .donate_btn{
            display: flex;
            justify-content: center;
        }
    
    }
}