.join_our_camps_container{
    padding: 56px 52px 60px 52px;
    background: #012B7F;
    .content_section{
        margin-top: 50px;
        .select_dropdown{           
            :global .ant-select-selector{
                border-radius: 8px;
                border: 1px solid #FFF;
                background: rgba(255, 255, 255, 0.00);               
                padding: 8px 16px;    
                border-color: #FFF !important;      
                .ant-select-selection-item{
                    color: #FFF !important;
                    font-family: var(--font-syne);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: capitalize;
                }    
            }
            :global .ant-select-arrow{
                color: #FFF;
            }
        }

        .content_container{
            margin-top: 24px;

            .camp_list_container{
                display: flex;
                flex-direction: column;
                gap: 40px;
                margin-bottom: 50px;            
            }
        }
    }

    .view_all_camp_btn{
        color: #FBE046;
        font-family: var(--font-syne);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-decoration-line: underline;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 12px;
        &:hover{
            color: #FBE046 !important;
        }
    }
    @media (max-width: 1023px){
        padding: 50px 24px 80px 24px;
        .content_section{
            margin-top: 32px;
            .content_container{
                margin-top: 22px;
                :global .ant-collapse{
                    .ant-collapse-item{
                       .ant-collapse-header{
                            padding: 0;
                       }
                       .ant-collapse-content{
                        .ant-collapse-content-box{
                            padding:0;
                        }
                       }
                    }
                }
            }
        }
    }
}


.camp_detail_container{
    padding: 20px 28px 32px 28px;
    border-radius: 20px;
    border: 1.5px solid #FFE656;
    background: rgba(255, 230, 86, 0.04);
    backdrop-filter: blur(5px);
    .heading_section{
        margin-bottom: 28px;
    }
    .camp_title{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }
    .camp_location{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }
    .description{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 140% */
    }
    .horizontal_divider{
        width: 100%;
        height: 1px;
        margin: 28px 0;
        background: rgba(255, 255, 255, 0.30);
    }
    .specialization_section{
        .title{
            color: #FFF;
            font-family: var(--font-syne);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 16px;
        }
        .specialization_list{
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            padding-left: 2rem;
            :global li{
                color: #FFF;
                font-family: var(--font-syne);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px; /* 140% */
                width: 33%;
            }
        }                
    }
    .slot_details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .trained_count{
            color: #FFF;
            font-family: var(--font-syne);
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 10px;
            :global span{
                color: #FBE046;
                font-family: var(--font-poppins);
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
    @media(max-width:1023px){
        padding: 24px 20px;
        .heading_section{
            margin-bottom: 12px;
        }
        .camp_title{
            font-size: 24px;
        }
        .description{
            font-size: 18px;
        }
        .horizontal_divider{
            margin: 20px 0;
        }
        .specialization_section{
            .title{
                margin-bottom: 20px;
            }
            .specialization_list{
                row-gap: 12px;
                padding-left: 1rem;
                flex-direction: column;
                :global li{
                    font-size: 18px;
                    width: 100%;
                }
            }                
        }
        .slot_details{
            flex-direction: column;
            align-items: flex-start;
            .trained_count{
                margin-bottom: 24px;
            }
            .slot_btn{
                width: 100%;
                display: flex;
                justify-content:center;
                margin-top: 16px;
            }
        }
    }
}


.camp_header_container{
    border-radius: 20px;
    border: 2px solid #FFF;
    background: rgba(255, 230, 86, 0.00);
    padding: 23px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
    .camp_name{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }
    .camp_location{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
    }
    .polygon_img{
        position: absolute;
        left: 97%;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s;
    }

    &.active{
        background: #FBE046;
        border: 2px solid #FBE046;
        .camp_name{
            color: #003CAE;
        }
        .camp_location{
            color: #2C2C2C;
        }
        .polygon_img{
            opacity: 1;
            visibility: visible;
        }
    }

    @media(max-width:1023px){
        padding: 16px;
        border-radius: 12px 12px 0 0;
        border: 1.5px solid #FFF;
        .camp_name{
            font-size: 24px;
        }
        .camp_location{
            font-size: 16px;
        }
    }
}