.joinus_container {
  max-width: 1280px;
  margin: 0 auto 145px;
  padding: 0 20px;
  position: relative;
  @media (max-width: 1023px) {
    margin: 0 auto 67px;
  }

  .title_container {
    text-align: center;
    @media (max-width: 1023px) {
    }
  }
  .title_container h1 {
    color: #000;
    text-align: center;
    font-family: var(--font-syne);
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1023px) {
      font-size: 24px;
    }
  }
  .subtitle {
    color: #2f2f2f;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums ordinal;
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--font-syne);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 20px;
  }
  .details_container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr; // Single column layout for tablets and mobile devices
      gap: 50px; // Adjust the gap for smaller screens if needed
    }
  }
  .image_section{
    position: relative;
  }
  .image{
    @media(max-width: 1023px) {
      width: 100%;
      height: 100%;
     }
  }
  .banner_logo{
    position: absolute;
    top: 16%;
    left: 16%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
  .form_item{
    color: #2F2F2F;
font-variant-numeric: lining-nums proportional-nums;
font-family: var(--font-syne);
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
.form_input{
    border-radius: 16px;
border: 1px solid #2155BD;
background: rgba(222, 233, 255, 0.60);
padding: 16px 12px 16px 16px;
height: auto ;
color: #00339A;
font-variant-numeric: lining-nums proportional-nums ordinal;
font-feature-settings: 'clig' off, 'liga' off;
font-family: var(--font-syne);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
@media(max-width: 1023px) {
  font-size: 16px;
  padding: 13px;
  }
}
.form_input::placeholder{
    color: #00339A;
font-variant-numeric: lining-nums proportional-nums ordinal;
font-feature-settings: 'clig' off, 'liga' off;
font-family: var(--font-syne);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
@media(max-width: 1023px) {
  font-size: 16px;
  }
}
.upload{
    border-radius: 12px;
border: 1px solid #2155BD;
background: rgba(255, 255, 255, 0.60);
padding: 16px;
height: auto !important;
color: #00339A;
font-variant-numeric: lining-nums proportional-nums ordinal;
font-feature-settings: 'clig' off, 'liga' off;
font-family: var(--font-syne);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-items: center;
@media(max-width: 1023px) {
padding: 13px;
font-size: 16px;
}
}
.submit_btn{
  border-radius: 1000px;
background: #FBE046;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
padding: 16px 32px;
color: #2C2C2C;
text-align: center;
font-family: var(--font-syne);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 16px;
}
}
