.behind_artz_container {
  max-width: 1280px;
  margin: 0 auto 24px;
  padding: 0 20px;
  @media (max-width: 1023px) {
    margin: 0 auto 69px;
  }
  .cards_container {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 32px;
      margin-top: 32px;
    }
  }
  .image_detail {
    position: relative;
    @media (max-width: 1023px) {
    }
  }

  .details {
    margin-top: 20px;
    @media (max-width: 1023px) {
      margin-top: 0;
      position: absolute;
      bottom: 8%;
        left: 6%;
    }
  }
  .title {
    color: #2c2c2c;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: var(--font-syne);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    @media (max-width: 1023px) {
      font-size: 22px;
      color: #fff;
    }
  }
  .tag {
    color: #003cae;
    font-family: var(--font-syne);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (max-width: 1023px) {
      font-size: 18px;
      font-weight: 400;
      color: #fbe046;
    }
  }
  .details_title {
    color: #2c2c2c;
    text-align: justify;
    font-variant-numeric: lining-nums proportional-nums ordinal;
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--font-syne);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.988px;
    margin: 10px 0 24px;
    @media (max-width: 1023px) {
      font-size: 24px;
      margin: 0 0 14px;
    }
  }
  .details_description p {
    color: #626262;
    text-align: justify;
    font-variant-numeric: lining-nums proportional-nums ordinal;
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--font-syne);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.988px;
    @media (max-width: 1023px) {
      font-size: 16px;
      line-height: normal;
    }
  }
}
