.football_coaching_container{
    padding: 80px 24px 100px 24px;
    background-color: #fff;
  
    .content_section{
        margin-top: 36px;
    }


    @media (max-width: 1023px){
        padding: 60px 24px;
        .content_section{
            margin-top: 32px;
        }
    
    }
}


.coaching_item_container{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 4px; 
    position: relative;
    cursor: pointer;
    .coaching_item_image{
        transition: transform 0.5s;
        transform: scale(1);
    }
    .overlay_container{
        border-radius: 4px;
        background: transparent;
        position: absolute;
        top: 120%;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 40px;
        transition: all 0.5s;
        .title{
            color: #FFF;
            font-size: 24px;
            font-family: var(--font-syne);
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 12px;
        }
        .slot_detail{
            color: rgba(255, 255, 255, 0.64);
            font-size: 20px;
            font-family: var(--font-syne);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 30px;
            visibility: hidden;
            opacity: 0;
            transition:all 0.5s linear;

            :global span{
                color: #FBE046;
                font-family: var(--font-poppins);
            }
        }
        .enroll_btn{
            color: #FFF;
            font-family: var(--font-syne);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
            padding: 0;
            visibility: hidden;
            opacity: 0;
            transition:all 0.5s linear;
            &:hover{
                color: #FFF;
            }
        }
    }
    &:hover{
        .coaching_item_image{
            transform: scale(1.1);
        }
        .overlay_container{
            top: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 45%, rgba(0, 0, 0, 0.80) 100%);
            .slot_detail{
                visibility: visible;
                opacity: 1;
            }
            .enroll_btn{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @media (max-width: 1023px){
        height: 400px;
        border-radius: 8px;

        .overlay_container{
            top: 0;
            padding: 20px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 45%, rgba(0, 0, 0, 0.80) 100%);
            .title{
                font-size: 22px;
            }
            .slot_detail{
                font-size: 18px;
                margin-bottom: 20px;
                visibility: visible;
                opacity: 1; 
            }
            .enroll_btn{
                visibility: visible;
                opacity: 1;
            }
        }
        &:hover{
            .coaching_item_image{
                transform: scale(1);
            }
        }
    }
}