.passionate_volunteers_container{
    background: #012B7F;
    padding: 100px 80px;
    .image_container{
        width: 100%;
        height: 250px;
        position: relative;
        border-radius: 12.973px;
        overflow: hidden;
    }
    .title{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 24px;
    }
    .sub_title{
        color: #FFF;
        font-family: var(--font-syne);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
    }

    @media(max-width: 1023px) {
        padding: 40px 24px 60px 24px;
        .title{
            font-size: 32px;
            margin-bottom: 16px;
        }
        .sub_title{
            font-size: 18px;
        }
        .enroll_btn{
            display: flex;
            justify-content: center;
        }
        .left_column{
            order: 2;
        }
        .right_column{
            order: 1;
        }
    }
}