:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.ant-select-selector:focus-visible{
  outline: none !important;
}
.ant-select .ant-select-selection-item {
  font-variant-numeric: lining-nums proportional-nums ordinal;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--font-syne);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #00339A;
  @media(max-width: 1024px) {
    font-size: 16px;
    }
}
.ant-select-selector {
  border: none !important; 
   background: none !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: "" !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-form-item .ant-form-item-label >label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*" !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label >label::after, :where(.css-dev-only-do-not-override-m4timi).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-24.ant-form-item-label >label::after, :where(.css-dev-only-do-not-override-m4timi).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xl-24.ant-form-item-label >label::after {
  visibility: visible !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label, :where(.css-dev-only-do-not-override-m4timi).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-24.ant-form-item-label, :where(.css-dev-only-do-not-override-m4timi).ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-col-xl-24.ant-form-item-label {
  padding: 0 0 12px !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-select-single {
  height: 60px !important;
  @media (max-width: 1024px) {
    height: 50px !important;
  }
     
  
}
:where(.css-dev-only-do-not-override-m4timi).ant-modal .ant-modal-content{
  border-radius: 20px !important;
  border: 1px solid rgba(255, 255, 255, 0.50) !important;
  background: rgba(1, 43, 127, 0.80) !important;
  backdrop-filter: blur(10px) !important;
}