.video_container {
  margin: 80px 0 50px;
  @media (max-width: 1023px) {
    padding: 0 20px;
    margin: 60px 0;
  }

  .sub_title {
    color: #626262;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums ordinal;
    font-feature-settings: "clig" off, "liga" off;
    font-family: var(--font-syne);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
    margin-top: 23px;
    @media (max-width: 1023px) {
      margin: 32px 0;
      font-size: 14px;
    }
  }
  .video_section {
    text-align: center;
    position: relative;
  }
  .video_component {
    max-width: 982px;
    width: 100%;
    object-fit: cover;
    max-height: 500px;
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(
      0deg,
      rgba(1, 43, 127, 0.16) 0%,
      rgba(1, 43, 127, 0.16) 100%
    );
    @media (max-width: 1023px) {
      height: 390px;
    }
  }
  .video_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}
