.join_our_academy_container{
    padding: 100px 80px;  

    .content_section{
        border-radius: 24px;
        background: url(../../../public/images/join-our-academy-bg.png) no-repeat center center;
        background-size: cover;
        padding: 80px;

        .right_column{
            .title{
                color: #FFF;
                font-family: var(--font-syne);
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin-bottom: 24px;
            }
            .list_container{
                padding-left: 1rem;
                :global li{
                    color: #FFF;
                    font-family: var(--font-syne);
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-bottom: 24px;
                }
            }
            .enroll_btn{
                margin-top: 16px;
            }
        }
    }

    @media(max-width: 1023px){
        padding: 60px 24px 60px 24px;
        .content_section{
            background: none;
            padding: 0;
        }
        .left_column{
            width: 100%;
            height: 300px;
            background: url(../../../public/images/join-our-academy-bg-xs.png) no-repeat center center;
            background-size: cover;
            border-radius: 20px 20px 0 0;
        }
        .right_column{
            background: #012B7F;
            padding: 12px 12px 50px 12px;
            border-radius: 0 0 20px 20px;

            .title{
                font-size: 32px !important;
                margin-bottom: 16px !important;
            }

            .enroll_btn{
                display: flex;
                justify-content: center;
            }
            
        }
    }
}