.exclusive_coaching_container{
    padding: 80px 0 100px 0;
    background-color: #fff;
    .content_section{
        margin-top: 36px;
        position: relative;
        .exclusive_coaching_slider{
            :global .swiper-wrapper{
                .swiper-slide{
                    width: 40%;  
                    &:last-child{
                        width: 15%;
                    }               
                }
            }
        }

        .view_all_slider{
            border-radius: 16px;
            background: #012B7F;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 28px;
            height: 300px;
            .title{
                color: #FFF;
                font-family: var(--font-syne);
                font-size: 36px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            .arrow_icon{
                width: 68px;
                height: 68px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 69.329px;
                background: #F5DC4D;
                cursor: pointer;
            }
        }

        :global .swiper-custom-pagination{
            text-align: center;
            margin-top: 32px;
            display: none;
            .swiper-pagination-bullet{
                width: 12px;
                height: 6px;
                border-radius: 10px;
                background: rgba(239, 237, 224, 0.60);
                opacity: 1;
                &.swiper-pagination-bullet-active{
                    width: 32px;
                    background: #FBE046;
                }
            }
        }

        :global .swiper-button-prev,:global .swiper-button-next{
            top: 100%;
        }

        :global .swiper-button-prev{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 81.564px;
            background: #FBE046;
            display: none;

            &::after{
                content: '';
                width: 30px;
                height: 30px;
                background: url(../../../public/images/slider-left-arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
        :global .swiper-button-next{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 81.564px;
            background: #FBE046;
            display: none;

            &::after{
                content: '';
                width: 30px;
                height: 30px;
                background: url(../../../public/images/slider-right-arrow.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }          
    }
    .btn_section{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    @media (max-width: 1023px){
        padding: 60px 24px;
        .content_section{
            margin-top: 32px;
            .exclusive_coaching_slider{
                :global .swiper-wrapper{
                    .swiper-slide{
                        width: 100%;  
                        &:last-child{
                            width: 100%;
                            display: none;
                        }               
                    }
                }
            }
            :global .swiper-custom-pagination{
                display: block;
            }
            :global .swiper-button-prev,:global .swiper-button-next{
                display: flex;
            }
        }
    }
}

.coaching_card_container{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    background: #012B7F;
    .image_section{
        width: 100%;
        height: 100%;
    }
    :global .ant-row{
        height: 100%;
        .ant-col{
            height: 100%;
        }
    }
    :global img{
        border-radius: 16px 0 0 16px;
    }
    .coaching_detail_container{
        padding: 32px;
        .title{
            color: #FFF;
            font-family: var(--font-syne);
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 20px;
        }
        .description{
            color: rgba(255, 255, 255, 0.80);
            text-align: justify;
            font-family: var(--font-syne);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 22px;
        }
        .enroll_btn{
            color: #FFF;
            font-family: var(--font-syne);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;
            padding: 0;
            &:hover{
                color: #FFF;
            }
        }
    }
    @media (max-width: 1023px){
        width: 100%;
        height: auto;
        border-radius: 8px;
        :global img{
            border-radius: 8px 8px 0 0;
        }
        .image_section{
            width: 100%;
            height: 200px;
        }
        .coaching_detail_container{
            padding: 28px 20px 32px 20px;
            .title{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 16px;
            }
            .description{               
                margin-bottom: 26px;
            }
        }
    }
}