.custom_button_container{
    padding: 16px 32px;
    border-radius: 1000px;   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    font-size: 16px;
    font-family: var(--font-syne);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}