.banner_container{
    width: 100%;
    height: 100vh;   
    padding: 0 80px;
    align-items: center;
    position: relative;
    .banner_background{       
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .banner_content{
        max-width: 65%;
        .title{
            color: #FFF;
            font-size: 80px;
            font-family: var(--font-syne);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        .description{
            color: #FFF;
            font-size: 20px;
            font-family: var(--font-syne);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 40px;
            max-width: 70%;
        }
        // .regiter_btn{
        //     padding: 16px 32px;
        //     border-radius: 1000px;
        //     border: 1px solid #FFF;
        //     background: rgba(1, 43, 127, 0.60);
        //     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        //     backdrop-filter: blur(5px);
        //     color: #FFF;
        //     font-size: 16px;
        //     font-family: var(--font-syne);
        //     font-style: normal;
        //     font-weight: 500;
        //     line-height: normal;
        //     &:hover{
        //         background: rgba(1, 43, 127, 0.60) !important;
        //         color: #FFF !important;
        //     }
        // }
    }

    @media (max-width: 1023px){
        padding: 80px 24px;
       
        align-items: end;
        .banner_content{
            max-width: 100%;
            .title{
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 16px;
            }
            .description{
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                max-width: 100%;
            }
        }
    }
}